.Login {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    background-color: #2d2d2d; /* Тёмный фон */
    color: #ffffff; /* Белый текст */
}

.Login h1 {
    margin-bottom: 20px;
}

.Login input {
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #445569; /* Тёмно-серый фон для input */
    color: #ffffff; /* Белый текст */
}

.Login button {
    height: 30px;
    width: auto;
    border-radius: 10px;
    font-size: 14pt;
    background-color: #72bbf4;
    border-style: none;
    color: #ffffff; /* Белый текст */
}

.Login button:hover {
    background-color: #51ef83;
}

.Login #loginError {
    color: red;
    margin-top: 10px;
}
